.Fromcard{
    background-color: #242731;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    height: 580px;
    width: 399px;
    margin-left: 150px;
    border-radius: 30px;
}

.btn{
    background-color: #4D3BC9;
    width: 100% ;
    height: 40px;
    margin-top: 3px;
    border-radius: 8px;
}
h1{
  
width: 180px;
height: zzpx;
left: 351px;
top: 281px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 50px;

margin-top: 0;
}

.twoCol{
 
    height: 54px;
    width: 176px;
    left: 351px;
    top: 454px;
    border-radius: 10px;
    
background: rgba(217, 217, 217, 0.1);
border-radius: 10px;
}